.normal {
  font-size: 16px;
  color: var(--color-foreground);
}

.bold {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-foreground);
}

.large {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-foreground);
}
